<%- include('../includes/head.ejs')%>

  <%- include('../includes/navigation.ejs')%>
  <span class="h-35"></span>
  
  <main class="main">
    <span class="h-15"></span>
    <form action="/admin/edit-post/<%=post._id%>" method="POST">
      <h3>Modify Post</h3>
      <div class="form-group">
        <label for="">Title</label>
        <input type="text" name="title" id="title" value="<% if(edit){ %> <%=post.title %> <% } %>">
      </div>
      
      <div class="form-group">
        <label for="">Description</label>
        <textarea class="textarea" name="description" rows="4"><% if(edit){ %><%=post.description %> <% } %></textarea>
      </div>
      
      <button type="submit" class="btn btn--login">Update</button>
    </form>
  </main>

<%- include('../includes/end.ejs')%>
